{% include "header.html" %}

<h1>GalliumOS Statistics</h1>

<div class="ui divider"></div>

<div class="ui vertically divided grid">
  <div class="two column row">
    <div class="column">
      <h1>Installs by Version</h1>
      <table class="ui celled table">
        <thead>
          <tr><th>Version</th>
          <th>Total</th>
        </tr></thead>
        <tbody>
          <tr>
            <td>15.04</td>
            <td>58,008</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column">
      <h1>Installs by Device</h1>
      <table class="ui celled table">
        <thead>
          <tr><th>Device</th>
          <th>Total</th>
        </tr></thead>
        <tbody>
          <tr>
            <td>Peppy</td>
            <td>1,337</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="two column row">
    <div class="column">
      <h1>Installs by Memory</h1>
      <table class="ui celled table">
        <thead>
          <tr><th>Memory (MB)</th>
          <th>Total</th>
        </tr></thead>
        <tbody>
          <tr>
            <td>2048</td>
            <td>16,384</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column">
      <h1>Installs by HDD Space</h1>
      <table class="ui celled table">
        <thead>
          <tr><th>HDD Size</th>
          <th>Total</th>
        </tr></thead>
        <tbody>
          <tr>
            <td>16GB</td>
            <td>100</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="two column row">
    <div class="column">
      <h1>Installs by CPU Model</h1>
      <table class="ui celled table">
        <thead>
          <tr><th>CPU</th>
          <th>Total</th>
        </tr></thead>
        <tbody>
          <tr>
            <td>Intel(R) Celeron(R) 2955U @ 1.40GHz</td>
            <td>1,400</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column">
      <h1>Installs by Locale</h1>
      <table class="ui celled table">
        <thead>
          <tr><th>Locale</th>
          <th>Total</th>
        </tr></thead>
        <tbody>
          <tr>
            <td>en_US</td>
            <td>1,000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>